<section layout="row" flex class="login register-page">

  <md-content flex>

	<section class="login-brand-stage register-brand-stage" layout="column" layout-padding flex>
		<div class="login-emblem" aria-hidden="true"><span></span></div>
		<div class="login-wordmark" aria-label="LinkUUp"><span class="login-wordmark-link">link</span><span class="login-wordmark-up">uup</span></div>
		<p class="login-brand-claim">Dein Profil. Deine Orte. Deine Begegnungen.</p>
	</section>
		
    <!-- CONTENT -->
	<section class="register-panel" layout="column" layout-padding flex>
		<ng-include src="'js/pages/register/lup-register-form.html?v='+V"></ng-include>
	</section>
	
	<!-- END CONTENT -->
	<section layout="column" layout-padding flex>
		<div class="login-bottom login-page">
		  <md-list-item class="md-1-line" ng-click="gotoImpressum()">
			<p class="impressum">{{'IMPRESSUM'|translate}}</p>
		  </md-list-item>
<!--
		  <md-list-item class="md-1-line" ng-click="gotoTOS()">
			<p class="tos">{{'TOS'|translate}}</p>
		  </md-list-item>
-->
		  <md-list-item class="md-1-line" ng-click="gotoPrivacy()">
			<p class="privacy">{{'PRIVACY'|translate}}</p>
		  </md-list-item>
		</div>
	</section>
  </md-content>
</section>
