<section layout="column" flex layout-padding layout-fill>

<h4>{{'TITLE_ACCOUNT'|translate}}</h4>
<p>{{'INFO_ACCOUNT'|translate}}</p>

<section class="lup-account-overview" layout="column">
  <div>
    <strong>{{'USERNAME'|translate}}</strong>
    <span ng-if="data.user.isGuest()">{{data.account.user_guest_name}}</span>
    <span ng-if="data.user.isMember()">{{data.account.user_name}}</span>
  </div>
  <div>
    <strong>{{'EMAIL'|translate}}</strong>
    <span>{{data.account.user_email || ('UNKNOWN'|translate)}}</span>
  </div>
</section>

<p class="lup-account-backend-hint">{{'INFO_ACCOUNT_BACKEND'|translate}}</p>
<md-button class="md-raised md-primary" ng-href="{{data.backendUrl}}" target="_blank" rel="noopener">{{'BTN_BACKEND'|translate}}</md-button>

</section>
