<section class="cuddles-page" layout="row" flex>

  <ng-include class="left-sidebar" src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>

  <md-content layout="column" flex>
    <ng-include src="'js/pages/profile/header-bar-profile.html?v='+V"></ng-include>

    <md-list class="md-dense" flex>
      <md-subheader class="md-no-sticky">
        {{'CUDDLES_WITH'|translate:{user: data.cuddleUser.displayName()} }}
      </md-subheader>
      <md-list-item class="md-2-line" ng-repeat="cuddle in data.cuddles track by $index">
        <lup-avatar ng-user="cuddle.partner" ng-click="gotoProfile(cuddle.partner)"></lup-avatar>
        <div class="md-list-item-text" layout="column">
          <p>{{cuddle.partner.displayName()}}</p>
          <p>{{cuddle.room.name()}} · {{cuddle.day | date:'mediumDate'}}</p>
        </div>
        <i class="md-secondary material-icons" ng-click="gotoRoom(cuddle.room)">place</i>
      </md-list-item>
      <p class="lup-empty-list" ng-if="!data.cuddles.length">{{'CUDDLES_EMPTY'|translate}}</p>
    </md-list>
  </md-content>

</section>
