<md-toolbar class="md-hue-2 lup-top-bar">
  <div class="md-toolbar-tools">

    <i class="material-icons" ng-click="openLeft()">menu</i>

    <md-button class="md-icon-button" aria-label="Nearby" ng-click="gotoReferrer()">
      <i class="material-icons">arrow_back</i>
    </md-button>

    <div class="query-contact" flex>
      <lup-avatar class="lup-title-avatar" ng-user="data.user" ng-click="gotoProfile(data.user)"></lup-avatar>
      <div class="query-contact-copy">
        <span>{{'QUERY_ACTIVE'|translate}}</span>
        <h2>{{data.user.displayName()}}</h2>
      </div>
    </div>

    <ng-include src="'js/pages/topnav/lup-topnav-notifications.html?v='+V"></ng-include>

	<lup-avatar ng-user="data.ownUser" ng-click="gotoOwnProfile()"></lup-avatar>

  </div>
</md-toolbar>
