<section class="settings-page lup-add-room-page" layout="row" flex>
  <ng-include class="left-sidebar" src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>
  <md-content class="settings-content" flex>
    <ng-include src="'js/pages/locations/header-bar-locations.html?v='+V"></ng-include>
    <form name="addRoomForm" class="settings-form" ng-submit="create()" novalidate>
      <h2>{{'TITLE_ADD_ROOM'|translate}}</h2>
      <p>{{'INFO_ADD_ROOM_GPS'|translate}}</p>
      <md-input-container class="md-block">
        <label>{{'LABEL_ROOM_NAME'|translate}}</label>
        <input ng-model="data.room.name" maxlength="64" required autofocus>
      </md-input-container>
      <md-input-container class="md-block">
        <label>{{'LABEL_ROOM_CATEGORY'|translate}}</label>
        <md-select ng-model="data.room.category" required>
          <md-option ng-repeat="category in data.categories" ng-value="category.cat_id">{{category.cat_name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>{{'LABEL_ROOM_INFO'|translate}}</label>
        <textarea ng-model="data.room.info" maxlength="512" rows="3"></textarea>
      </md-input-container>
      <div class="lup-radius-input">
        <label>{{'LABEL_ROOM_RADIUS'|translate}}: {{data.room.radius}} m</label>
        <md-slider ng-model="data.room.radius" min="150" max="500" step="10" aria-label="{{'LABEL_ROOM_RADIUS'|translate}}"></md-slider>
      </div>
      <md-button class="md-raised md-primary" type="submit" ng-disabled="addRoomForm.$invalid">{{'BTN_CREATE_ROOM'|translate}}</md-button>
    </form>
  </md-content>
</section>
