<md-toolbar class="md-hue-2 lup-top-bar place-topbar">
  <div class="md-toolbar-tools">
    <button class="place-icon-button menutop" type="button" ng-click="openLeft()" aria-label="{{'PLACE_MENU'|translate}}"><i class="material-icons" aria-hidden="true">menu</i></button>
    <button class="place-icon-button" type="button" ng-click="gotoReferrer()" aria-label="{{'PLACE_BACK'|translate}}"><i class="material-icons" aria-hidden="true">arrow_back</i></button>
    <div class="place-topbar-copy" flex>
      <strong>{{data.roomReady ? headerRoomName() : ('TAB_LOCATION'|translate)}}</strong>
      <span ng-if="data.roomReady && data.room.isSelfInRoom() && inChatRange()"><b class="place-status-dot" aria-hidden="true"></b>{{'PLACE_CHAT_ACTIVE'|translate}}</span>
      <span ng-if="!data.roomReady || !data.room.isSelfInRoom() || !inChatRange()">{{(data.roomReady && inChatRange() ? 'PLACE_HERE' : 'PLACE_DISCOVER')|translate}}</span>
    </div>
    <ng-include src="'js/pages/topnav/lup-topnav-notifications.html?v='+V"></ng-include>
    <button class="place-profile-button" type="button" ng-click="gotoOwnProfile()" aria-label="{{'PLACE_MY_PROFILE'|translate}}"><lup-avatar ng-user="data.ownUser"></lup-avatar></button>
  </div>
</md-toolbar>
