<md-list
 class="usernavigation location-online-view"
 in-view="$inview&&visitorsVisible()"
 in-view-options="{considerPageVisibility:true}"
 flex>
  
  <section class="online-room-header" ng-class="locationVisual(data.room).class" aria-live="polite">
    <span class="presence-live-mark" aria-hidden="true"><i class="material-icons">{{locationVisual(data.room).icon}}</i></span>
    <div class="presence-header-copy">
      <strong>{{ 'ONLINE_LIVE_TITLE' | translate }}</strong>
      <span>{{ 'ONLINE_LIVE_SUBTITLE' | translate }}</span>
    </div>
    <span class="presence-total" aria-label="{{visitorCount()}} Personen online"><strong>{{visitorCount()}}</strong><small>ONLINE</small></span>
  </section>

  <div class="visitors-list">
	  <section class="presence-empty" ng-if="!visitorCount()">
		<i class="material-icons" aria-hidden="true">location_searching</i>
		<strong>Noch ruhig hier.</strong>
      <span>{{ 'ONLINE_EMPTY_SUBTITLE' | translate }}</span>
	  </section>
	  <md-list-item class="md-2-line presence-person no-right" ng-repeat="user in sortedVisitors() track by user.id()">
		<lup-avatar class="presence-avatar" ng-user="user" ng-click="gotoProfile(user)"></lup-avatar>
		<div ng-click="gotoProfile(user)" class="md-list-item-text presence-person-copy" layout="column">
		  <p class="username">{{ user.displayName(); }}</p>
		  <p><i class="material-icons">location_on</i>{{ user.status() || ('ONLINE_VISITOR_HERE' | translate) }}</p>
		</div>
		<div class="presence-actions">
		  <button type="button" class="presence-action presence-message" aria-label="Nachricht senden" title="Nachricht senden" ng-click="gotoQuery(user)" ng-if="!user.isSelf()">
			<i class="material-icons">chat_bubble</i>
			<span>Chat</span>
		  </button>
		  <button type="button" class="presence-action presence-friend" aria-label="Freundschaftsanfrage senden" title="Freundschaftsanfrage senden" ng-click="FriendSrvc.addFriend(user)" ng-if="!user.isSelf() && user.isMember() && data.user.isMember() && !user.isFriend() && !user.JSON.relation_pending">
			<i class="material-icons">person_add_alt_1</i>
			<span>Freund</span>
		  </button>
		  <button type="button" class="presence-action presence-friend presence-pending" aria-label="Freundschaftsanfrage zurücknehmen" title="Anfrage zurücknehmen" ng-click="FriendSrvc.cancelFriendRequest(user)" ng-if="!user.isSelf() && user.isMember() && data.user.isMember() && !user.isFriend() && user.JSON.relation_pending">
			<i class="material-icons">hourglass_top</i>
			<span>Offen</span>
		  </button>
		  <button type="button" class="presence-action presence-friend presence-connected" aria-label="Freundschaft entfernen" title="Freundschaft entfernen" ng-click="FriendSrvc.removeFriend(user)" ng-if="!user.isSelf() && user.isMember() && data.user.isMember() && user.isFriend()">
			<i class="material-icons">group</i>
			<span>Freund</span>
		  </button>
		  <button type="button" class="presence-action presence-up" aria-label="Up senden" title="Up senden" ng-click="LikeSrvc.likeUser(user)" ng-if="!user.isSelf() && user.isMember()">
			<i class="material-icons">bolt</i>
			<span>Up</span>
		  </button>
		</div>
	  </md-list-item>
   </div>
</md-list>
