<!-- Designs Image 2 -->
<!--
<md-content class="md-padding layout-fill ng-scope _md layout-column flex" layout="column">
  <div class="singlelocation">
	<div class="room-head">
		<div class="categoryicon" ng-bind-html="data.room.categoryIcon()"></div>
		<div class="room-name">{{data.room.name()}}</div>	  
		<div class="homepage-link"><a style="background:{{data.room.color()}};" target="blank" href="{{data.room.www()}}">{{"zur Website"|translate}}</a></div>
  </div>
  <hr/>
  <div class="lup-room-votes" ng-controller="RoomVoteCtrl">
	<p style="color:{{data.room.color()}};">	
		<span class="rating-procent">{{data.room.rating()|votePercent}}</span>
		<jk-rating-stars max-rating="5" rating="data.room.rating()" read-only="true" on-rating="onVoteRoom(rating)"></jk-rating-stars>
    </p>
    <md-button class="gotobewertungen" ng-click="gotoComments(data.room)">
		<span>{{data.room.comments()}} {{'Bewertungen'|translate}}</span>
		<span style="background:{{data.room.color()}};" class="arrow"></span>
    </md-button>
  </div>
  <div ng-bind-html="data.room.image()"></div>
  <p class="roomdescription">{{data.room.info()}}</p>
  <div class="roominfosingle">
	<a class="address" ng-href="{{mapsHref(data.room)}}" style="display: block;" target="__blank">
		<div style="background:{{data.room.color()}};" class="addressmap"></div>
		<p>{{data.room.street()}}</p>
		<p>{{data.room.zip()}} {{data.room.city()}}</p>
	</a>
	<div class="phone">
		<div style="background:{{data.room.color()}};" class="addressphone"></div>
		<p>{{data.room.phone()}}</p>
	</div>
	<div class="opening">
		<div style="background:{{data.room.color()}};" class="addressopening"></div>
	</div>
  </div>
  <div class="roomcomments">
	<p>{{'Bewertungen'|translate}} ({{data.topComment.totalComments}})</p>
	<md-button style="background:{{data.room.color()}};" ng-click="data.showInput = !data.showInput">{{'Bewerten'|translate}}</md-button>
	
	<ng-include src="'js/pages/comments/lup-new-comment.html?v='+V"></ng-include>
	
	<lup-comment class="comments-preview" ng-if="data.topComment.user()">
		<lup-avatar ng-user="data.topComment.user()" ng-click="gotoProfile(data.topComment.user())"></lup-avatar>
		<lup-comment-text>"{{data.topComment.text()}}"</lup-comment-text>
    </lup-comment>
  </div>
</div>
</md-content>
-->


<!-- V2

<md-content layout="column" flex>
  <div class="singlelocation">

  <div ng-bind-html="data.room.image()"></div>
   <div class="roominfosingle">
	<a class="address" ng-href="{{mapsHref(data.room)}}" style="display: block;" target="__blank">
		<div style="background:{{data.room.color()}};" class="addressmap"></div>
		<p>{{data.room.street()}}</p>
		<p>{{data.room.zip()}} {{data.room.city()}}</p>
	</a>
	<div class="phone">
		<a href="tel:{{data.room.phone()}}"><span style="background:{{data.room.color()}};" class="addressphone"></span></a>

	</div>
	<div class="opening" ng-click="showOpenTimes($event)">
		<div style="background:{{data.room.color()}};" class="addressopening"></div>
	</div>
  </div> 
 
  <p class="roomdescription">{{data.room.info()}}</p>
    <div class="lup-room-votes" ng-controller="RoomVoteCtrl">
	<p style="color:{{data.room.color()}};">	
		<span class="rating-procent">{{data.room.rating()|votePercent}}</span>
		<jk-rating-stars max-rating="5" rating="data.room.rating()" read-only="true" on-rating="onVoteRoom(rating)"></jk-rating-stars>
    </p>
    <md-button class="gotobewertungen" ng-click="gotoComments(data.room)">
		<span>{{data.room.comments()}} {{'Bewertungen'|translate}}</span>
		<span style="background:{{data.room.color()}};" class="arrow"></span>
    </md-button>
  </div>
  <div class="roomcomments">
	<p>{{'Bewertungen'|translate}} ({{data.topComments.length}})</p>
	<md-button style="background:{{data.room.color()}};" ng-click="data.showInput = !data.showInput">{{'Bewerten'|translate}}</md-button>
	
	<ng-include src="'js/pages/comments/lup-new-comment.html?v='+V"></ng-include>
	
	<lup-comment class="comments-preview" ng-repeat="comment in data.topComments">
		<lup-avatar ng-user="comment.user()" ng-click="gotoProfile(comment.user())"></lup-avatar>
		<lup-comment-text>"{{comment.text()}}"</lup-comment-text>
    </lup-comment>
  </div>
</div>
</md-content>
 -->
<md-content class="location-experience" layout="column" flex layout-fill>
  <div class="location-hero" ng-class="locationVisual(data.room).class">
    <div class="location-hero-art" aria-hidden="true"><i class="material-icons">{{locationVisual(data.room).icon}}</i></div>
    <div class="location-hero-shade"></div>
    <div class="location-hero-copy">
      <span class="location-live-pill"><i class="material-icons">bolt</i> vor Ort erleben</span>
      <h1>{{data.room.name()}}</h1>
      <p ng-if="data.room.addressDisplay()">{{data.room.addressDisplay()}}</p>
    </div>
  </div>

  <div class="location-action-row">
    <a class="location-action route" ng-href="{{mapsHref(data.room)}}" target="_blank" rel="noopener" ng-if="data.room.showDistance()">
      <i class="material-icons">near_me</i><span>Route</span>
    </a>
    <button class="location-action" type="button" ng-click="onShowQRCode()">
      <i class="material-icons">qr_code_2</i><span>Vor Ort</span>
    </button>
    <button class="location-action" type="button" ng-if="data.room.phone()" ng-click="onOpenPhone()">
      <i class="material-icons">phone</i><span>Anrufen</span>
    </button>
    <button class="location-action" type="button" ng-click="showOpenTimes($event)">
      <i class="material-icons" ng-class="{'room-open': data.room.isOpen() === true, 'room-closed': data.room.isOpen() === false, 'room-unknown': data.room.isOpen() === null}">schedule</i><span>Zeiten</span>
    </button>
  </div>

  <section class="location-rating-card" ng-click="onVoteDialog()" role="button" tabindex="0">
    <div class="rating-copy">
      <span>Wie war dein Besuch?</span>
      <strong>Bewerte den Ort und teile deine Stimmung</strong>
    </div>
    <div class="rating-stars">
      <jk-rating-stars max-rating="5" rating="data.room.rating()" read-only="true" on-rating="onVoteRoom(rating)" class="lup-location-rating"></jk-rating-stars>
      <small>{{data.room.comments()}} Bewertungen</small>
    </div>
    <i class="material-icons rating-arrow">arrow_forward</i>
  </section>

  <section class="location-comments" ng-click="gotoComments(data.room)">
    <div class="location-section-title"><span>Stimmen aus dem Ort</span><button type="button">Alle ansehen <i class="material-icons">chevron_right</i></button></div>
    <div class="location-comment" ng-repeat="comment in data.topComments" ng-if="!comment.isBlankComment()">
      <lup-avatar ng-user="comment.user()"></lup-avatar>
      <lup-comment-text ng-bind-html="comment.text()"></lup-comment-text>
    </div>
    <p class="location-comment-empty" ng-if="!data.topComments.length || data.topComments[0].isBlankComment()">Sei die erste Person, die diesen Ort bewertet.</p>
  </section>
</md-content>
