<section class="location-page lup-place" ng-class="locationVisual(data.room).class" layout="row" flex>
  <ng-include class="left-sidebar" src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>
  <md-content class="place-shell" layout="column" flex>
    <ng-include src="'js/pages/location/html/header-bar-location.html?v='+V"></ng-include>
    <section class="place-loading" ng-if="!data.roomReady" aria-live="polite"><i class="material-icons" aria-hidden="true">location_on</i><p>{{(data.roomLoadFailed ? 'PLACE_LOAD_ERROR' : 'PLACE_LOADING')|translate}}</p><button class="place-tool" type="button" ng-if="data.roomLoadFailed" ng-click="init()">{{'PLACE_RETRY'|translate}}</button></section>
    <lup-presence-preview ng-room="data.room"></lup-presence-preview>
    <md-tabs ng-if="data.roomReady" class="place-tabs" md-selected="data.selectedTab" flex md-stretch-tabs="always" layout="column">
      <md-tab>
        <md-tab-label><span class="place-tab-label"><i class="material-icons" aria-hidden="true">place</i><span>{{'TAB_LOCATION'|translate}}</span></span></md-tab-label>
        <md-tab-body><ng-include src="'js/pages/location/html/lup-location-tab.html?v='+V"></ng-include></md-tab-body>
      </md-tab>
      <md-tab ng-disabled="!inChatRange() && !isPresencePreview()" md-on-select="openChatTab()">
        <md-tab-label><span class="place-tab-label"><i class="material-icons" aria-hidden="true">chat_bubble_outline</i><span>{{'TAB_CHAT'|translate}}</span><i class="material-icons place-tab-lock" ng-if="!inChatRange()" aria-hidden="true">lock_outline</i></span></md-tab-label>
        <md-tab-body><ng-include src="'js/pages/location/html/lup-location-chat.html?v='+V"></ng-include></md-tab-body>
      </md-tab>
      <md-tab ng-click="openVisitorsTab()" md-on-select="visitorsVisible()">
        <md-tab-label><span class="place-tab-label"><i class="material-icons" aria-hidden="true">people_outline</i><span>{{'TAB_ONLINE'|translate}}</span><b class="place-tab-count" ng-if="visitorCount()">{{visitorCount()}}</b></span></md-tab-label>
        <md-tab-body><ng-include src="'js/pages/location/html/lup-location-visitors.html?v='+V"></ng-include></md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</section>
