<section layout="row" flex class="notification">

  <ng-include src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>

  <md-content layout="column" flex>

    <ng-include src="'js/pages/notifications/lup-notifications-header.html?v='+V"></ng-include>
      
    <!-- CONTENT -->
    <nav class="notification-switch" role="tablist" aria-label="Nachrichtenbereiche">
      <button type="button" role="tab" ng-class="{active: data.activeTab3 === 0}"
       ng-click="selectNotificationTab(0)" aria-label="Private Nachrichten">
        <i class="material-icons">forum</i><span>{{'TAB_QUERIES'|translate}}</span>
        <b ng-if="hasUnreadQueries()" aria-hidden="true"></b>
      </button>
      <button type="button" role="tab" ng-class="{active: data.activeTab3 === 1}"
       ng-click="selectNotificationTab(1)" aria-label="Ereignisse">
        <i class="material-icons">notifications_none</i><span>{{'TAB_NOTIFICATIONS'|translate}}</span>
        <b ng-if="hasNotifications()" aria-hidden="true"></b>
      </button>
    </nav>

    <section class="notification-panel" ng-if="data.activeTab3 === 0" role="tabpanel">
      <ng-include src="'js/pages/notifications/lup-messages-tab.html?v='+V"></ng-include>
    </section>
    <section class="notification-panel" ng-if="data.activeTab3 === 1" role="tabpanel">
      <ng-include src="'js/pages/notifications/lup-notifications-tab.html?v='+V"></ng-include>
    </section>

  </md-content>
  <!-- END CONTENT -->
	
</section>
