<md-dialog class="place-dialog" aria-label="{{'DLGT_NEW_COMMENT'|translate}}">
  <header class="place-dialog-header"><span class="place-dialog-symbol"><i class="material-icons" aria-hidden="true">chat_bubble_outline</i></span><div><span>LinkUUp</span><h2>{{'DLGT_NEW_COMMENT'|translate}}</h2></div><button class="place-dialog-close" type="button" ng-click="ok()" aria-label="{{'PLACE_CLOSE'|translate}}"><i class="material-icons" aria-hidden="true">close</i></button></header>
  <md-dialog-content><div class="place-dialog-body"><p class="place-dialog-copy">{{data.commentText}}</p><p class="place-review-rating" ng-if="data.rating"><i class="material-icons" aria-hidden="true">star</i>{{data.rating}} / 10</p></div></md-dialog-content>
  <footer class="place-dialog-actions"><button class="place-dialog-primary" type="button" ng-click="ok()">{{'PLACE_CLOSE'|translate}}</button></footer>
</md-dialog>
