<section layout="row" flex class="login">

  <md-content flex>
  
	<section class="login-brand-stage" layout="column" layout-padding flex>
		<div class="login-brand-glow" aria-hidden="true"></div>
		<div class="login-emblem" aria-hidden="true"><span class="login-paperclip login-paperclip-left"></span><span class="login-paperclip login-paperclip-right"></span></div>
		<div class="login-wordmark" aria-label="LinkUUp">
			<span class="login-wordmark-link">link</span><span class="login-wordmark-up">uup</span>
		</div>
		<p class="login-brand-claim">Echte Begegnungen beginnen in deiner Nähe.</p>
	</section>

    <!-- CONTENT -->
    <ng-include src="'js/pages/login/lup-login-form.html?v='+V" flex></ng-include>
	
    <!-- END CONTENT -->
	<section layout="column" layout-padding flex>
		<div class="login-bottom login-page">
		  <md-list-item class="md-1-line" ng-click="gotoImpressum()">
			<p class="impressum">{{'IMPRESSUM'|translate}}</p>
		  </md-list-item>
<!--
		  <md-list-item class="md-1-line" ng-click="gotoTOS()">
			<p class="tos">{{'TOS'|translate}}</p>
		  </md-list-item>
-->
		  <md-list-item class="md-1-line" ng-click="gotoPrivacy()">
			<p class="privacy">{{'PRIVACY'|translate}}</p>
		  </md-list-item>
		</div>
	</section>
  </md-content>
  
</section>
