<section class="nearby" layout="row" flex ng-cloak>

	<ng-include class="left-sidebar" src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>

	<md-content class="greybg" flex>
	
		<ng-include src="'js/pages/locations/header-bar-locations.html?v='+V"></ng-include>
		
		<div class="search-input-wrap">
			<input
			type="text" class="search-input" placeholder="{{'SEARCH_FOR_LOCATIONS'|translate}}"
			ng-change="searchLocation(data.searchvalue)" ng-model="data.searchvalue" />
		</div>

		<div class="location-categories" aria-label="Kategorien">
			<button type="button" ng-class="{active: isCategoryActive([])}" ng-click="selectCategory([])"><i class="material-icons">apps</i><span>Alle</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['2'])}" ng-click="selectCategory(['2'])"><i class="material-icons">apartment</i><span>Städte<br>&amp; Länder</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['3','4','5','14'])}" ng-click="selectCategory(['3','4','5','14'])"><i class="material-icons">storefront</i><span>Bar<br>&amp; Café</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['11'])}" ng-click="selectCategory(['11'])"><i class="material-icons">music_note</i><span>Club<br>&amp; Disco</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['16','17'])}" ng-click="selectCategory(['16','17'])"><i class="material-icons">account_balance</i><span>Bildung<br>&amp; Uni</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['12','13','18'])}" ng-click="selectCategory(['12','13','18'])"><i class="material-icons">menu_book</i><span>Kultur<br>&amp; Hilfe</span></button>
		</div>

		<div class="slickit">
			<div ng-repeat="room in data.visibleRooms" class="lup-room-slide-outer"
					 ng-attr-data-room-id="{{room.id()}}" ng-attr-data-room-category="{{room.category()}}">
	
				<div id="room{{room.id()}}" class="lup-room-slide" flex layout-fill layout="column">
					<div class="roominfo placeboard">
						<div ng-click="maybeGotoRoom(room, $event)">
							<div class="room-category-hero" ng-class="categoryVisual(room).class">
								<div class="room-category-orbit"><i class="material-icons">{{categoryVisual(room).icon}}</i></div>
								<span class="room-category-name">{{room.categoryName()}}</span>
								<strong class="room-hero-name" ng-class="roomNameClass(room)">{{room.name()}}</strong>
								<span class="room-hero-meta"><i class="material-icons">place</i>{{room.city() || 'LinkUUp Ort'}}</span>
							</div>
						</div>
						
						<!-- The hero above is the single place identity.  Keeping the old
						     duplicate room heading out of the card makes the swipe view
						     readable on phones with long location names. -->
						<div class="info room-user-preview" aria-label="Gäste an diesem Ort">
							<lup-avatar
							 ng-repeat="user in sortedVisitors(room) | limitTo: 5"
							 ng-click="gotoProfile(user)"
							 ng-user="user"></lup-avatar>
							
							<span class="more-users" ng-if="room.USERS.length>5" ng-click="gotoVisitors(room)" title="Alle Anwesenden anzeigen">
							  <b>+{{visitorOverflowLabel(room)}}</b>
							</span>
							<span class="room-presence-count" ng-class="{'has-visitors': room.USERS.length > 0}" ng-click="gotoVisitors(room)">
								<i class="material-icons">groups</i><b>{{visitorCountLabel(room)}}</b><span>gerade hier</span>
							</span>
						
						</div>
						<div class="distrat">
							<div class="distance" ng-if="room.showDistance()"><p><a ng-href="{{mapsHref(room)}}" target="_blank" rel="noopener" title="{{'NAVIGATE_TO_THIS_PLACE'|translate}}" ng-click="requestLocation(room, $event)"><i class="material-icons">location_on</i><span>{{room.displayDistance()}}</span></a></p></div>
						</div>
					</div>
					<section class="chatbutton" layout="column" ng-class="{'chatbutton--locked': !room.inChatRange()}">
						
<!-- 						<div class="gotoroom" ng-click="gotoRoom(room)"></div> -->
					
						<md-button
						 class="md-raised md-primary inactive"
						 ng-if="!room.inChatRange()">{{'CHAT_TOO_FAR'|translate}}</md-button>
				
						<md-button
						 class="md-raised md-primary"
						 ng-if="room.inChatRange()"
						 ng-click="gotoChat(room)">
						  <span class="chat-enter-mark" aria-hidden="true"><i class="material-icons">forum</i></span>
						  <span class="chat-enter-copy"><b>{{'JOIN_CHAT'|translate}}</b><small>{{'JOIN_CHAT_HINT'|translate}}</small></span>
						  <span class="chat-enter-status" aria-hidden="true"></span>
						</md-button>
						 
					</section>
	
				</div>
	
			</div>
		</div>

	</md-content>

</section>
