<md-dialog class="lup-proximity-dialog" aria-label="{{'LUP_PROXIMITY_TITLE'|translate}}">
  <button type="button" class="lup-proximity-close" ng-click="cancel()" aria-label="{{'CLOSE'|translate}}"><i class="material-icons">close</i></button>
  <md-dialog-content>
    <div class="lup-proximity-dialog-content">
      <div class="lup-proximity-signal" aria-hidden="true"><i class="material-icons">location_on</i></div>
      <span class="lup-proximity-eyebrow">{{'LUP_PROXIMITY_EYEBROW'|translate}}</span>
      <h2>{{'LUP_PROXIMITY_TITLE'|translate}}</h2>
      <p>{{'LUP_PROXIMITY_COPY'|translate}}</p>
      <div class="lup-proximity-rule"><i class="material-icons" aria-hidden="true">verified_user</i><span>{{'LUP_PROXIMITY_RULE'|translate}}</span></div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <button type="button" class="lup-proximity-ok" ng-click="ok()">{{'LUP_PROXIMITY_ACTION'|translate}}</button>
  </md-dialog-actions>
</md-dialog>
