<md-content
 flex layout-padding
 ng-if="!data.profile.canGloballySee()">
  <p>{{'VIEW_NOT_ALLOWED'|translate}}</p>
</md-content>

<md-list class="profile-information profile-about-single" ng-if="data.profile.canGloballySee()">
  <md-list-item class="md-2-line profile-story-card">
    <md-list-item-text>
      <p class="profile-about-me" ng-if="data.profile.displayAbout()">{{data.profile.displayAbout()}}</p>
      <p class="profile-about-empty" ng-if="!data.profile.displayAbout()">Hier ist Platz für deine Geschichte.</p>
    </md-list-item-text>
  </md-list-item>
</md-list>

<md-list class="profile-information profile-settings-view" ng-if="data.profile.canGloballySee()">
  <section ng-repeat="group in data.profileGroups track by group.module" class="profile-settings-group">
    <md-subheader class="md-no-sticky">{{moduleLabel(group.module)|translate}}</md-subheader>
    <md-list-item class="md-2-line" ng-repeat="field in group.fields track by field.key" ng-class="{'profile-setting-denied': field.error}">
      <div class="md-list-item-text" layout="column">
        <h3>
          {{field.setting.label|translate}}
          <i ng-if="field.acl" class="material-icons profile-setting-acl"
             title="{{field.acl|translate}}" aria-label="{{field.acl|translate}}">visibility</i>
        </h3>
        <p ng-if="field.error"><i class="material-icons" aria-hidden="true">visibility_off</i> {{field.error}}</p>
        <p ng-if="!field.error" ng-bind-html="renderProfileSetting(field)"></p>
      </div>
    </md-list-item>
  </section>
</md-list>
