<md-dialog class="place-dialog lup-help-dialog" aria-label="{{'HELP_WELCOME_TITLE'|translate}}"><form ng-cloak>
<header class="place-dialog-header"><span class="place-dialog-symbol" aria-hidden="true"><i class="material-icons">explore</i></span><div><h2>{{'HELP_WELCOME_TITLE'|translate}}</h2></div><button type="button" class="place-dialog-close" ng-click="ok()" aria-label="{{'PLACE_CLOSE'|translate}}"><i class="material-icons" aria-hidden="true">close</i></button></header>
<md-dialog-content><div class="place-dialog-body" compile="data.html"></div></md-dialog-content>
<footer class="place-dialog-actions"><button type="button" class="place-dialog-primary" ng-click="ok()">{{'HELP_UNDERSTOOD'|translate}}</button></footer>
</form></md-dialog>
