<md-toolbar class="lup-top-bar">
  <div class="md-toolbar-tools">
  
    <i class="material-icons menutop" ng-click="openLeft()">menu</i>
  
	<md-button class="md-icon-button" aria-label="Zurück zur Location" ng-click="gotoLocation()">
		<i class="material-icons">arrow_back</i>
    </md-button>


    <div flex md-truncate class="location-top-identity review-top-identity">
      <span class="location-top-icon"><i class="material-icons">rate_review</i></span>
      <div class="location-top-copy">
        <div class="room-name">Stimmen aus dem Ort</div>
        <span>{{data.room.name()}}</span>
      </div>
    </div>

    <ng-include src="'js/pages/topnav/lup-topnav-notifications.html?v='+V"></ng-include>

    <lup-avatar ng-user="data.ownUser" ng-click="gotoOwnProfile()"></lup-avatar>

  </div>
</md-toolbar>
