<md-toolbar class="lup-top-bar place-topbar">
  <div class="md-toolbar-tools">
    <button class="place-icon-button" type="button" ng-click="openLeft()" aria-label="{{'PLACE_MENU'|translate}}"><i class="material-icons" aria-hidden="true">menu</i></button>
    <button class="place-icon-button" type="button" ng-click="gotoLocation()" aria-label="{{'PLACE_BACK_TO_LOCATION'|translate}}"><i class="material-icons" aria-hidden="true">arrow_back</i></button>
    <div class="place-topbar-copy" flex><strong>{{'PLACE_VOICES'|translate}}</strong><span ng-if="data.roomReady">{{data.room.name()}}</span></div>
    <ng-include src="'js/pages/topnav/lup-topnav-notifications.html?v='+V"></ng-include>
    <button class="place-profile-button" type="button" ng-click="gotoOwnProfile()" aria-label="{{'PLACE_MY_PROFILE'|translate}}"><lup-avatar ng-user="data.ownUser"></lup-avatar></button>
  </div>
</md-toolbar>
